body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    background-color: rgb(96,0,0);
    color: white;
    text-align: center;
    padding: 30px;
}

.menu{
    display: flex;
    justify-content: space-between;

    background-color: rgb(96,0,0);
    padding: 10px;
    color: white;
    font-size: 20px;
}

.menu a{
    color: white;
}

.menu a:hover{
    text-decoration-color: orange;
}

.conteudo{
    width: 700px;
    border: 1px solid rgb(96,0,0);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    box-shadow: 5px 5px 10px red;
}

input[type="text"], input[type="number"]
{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
}

input[type="submit"]
{
    width: 200px;
    padding: 10px;
    background-color: rgb(96,0,0);
    color: white;
    border: none;
    font-size: 20px;
}